@model IEnumerable<symitekstil.Models.User>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<h2>Kullanıcı Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Kullanıcı Türü</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.UserType</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.UserID" class="btn btn-warning">Düzenle</a>
                    <form asp-action="Delete" asp-route-id="@user.UserID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>